@media only screen and (max-width: 800px) {
    #skills {
        max-width: "60%";
        flex-direction: column;
        padding-bottom: 10px;
        overflow: hidden;
    }

    #skillHeader {
        margin-top: 40;
    }

    #profileImage {
        /* align-items: center;
        justify-content: center;  */
        height: 200px;
        width: 200px;
        /* margin-left: 10px; */
        margin-top: 80px;
        width: 100%;
        /* background-color: blanchedalmond; */
        overflow: hidden;
        /* margin-bottom: 20; */

    }

    #heroHeader {
        margin-top: 200px;
        /* justify-content: center; */
        margin-left: 10;
        /* margin-top: 80px; */
    }

    #experienceButton {
        overflow:auto ;
        width: '70%';
        font-size: xx-small;
        /* background-color: blueviolet; */
        /* padding-left:10px; */

        /* font-size: 5px; */
    }

}



@media only screen and (max-width: 860px) {

    #experienceImage{
        height: 40px;
        width:40px
    }

   #smallText{
    font-size: small;
    font-family:'Poppins', sans-serif;
   }
   #headerText{
    font-size: medium;
    font-family:'Poppins', sans-serif;

   }
    #skills {
        max-width: "60%";
        flex-direction: row;
        flex-wrap: wrap;
        padding: 10px;
        margin-right: 10px;


        padding-bottom: 10px;
        overflow: hidden;
    }

    #skillHeader {
        margin-top: 40;
    }

    #profileImage {
        /* align-items: center;
        justify-content: center;  */
        height: 300px;
        /* width: 300px; */
        /* margin-left: 10px; */
        margin-top: 80px;
        width: 100%;
        background-color: teal;
        overflow: hidden;
        border-radius: 20px;

        /* margin-bottom: 20; */

    }

    #heroHeader {
        margin-top: 300px;
        /* justify-content: center; */
        margin-left: 10;
        /* margin-top: 80px; */
    }

    #experienceButton {
        overflow: hidden;
        width: '80%';
        font-size: small;        /* padding-left:10px; */

        /* font-size: 5px; */
    }

}


@media only screen and (min-width: 768px) {

    #profileImage {

        /* overflow: hidden; */
        background-color: teal;
        margin-top: 100px;
        margin-left: 10px;
        /* margin-bottom: 20; */

    }



}


